<ion-view view-title="JustDoIt">
  <ion-content class="padding">
    <!-- small right up as a welcome and on how the app works--> 
    <h2>Welcome to JustDoIt</h2>
    <p>
      The app which will help you organise your day to day tasks.
    </p>
    <p>
      With simple and minimalist design it is super easy to use and navigate
    </p>
    <p>
      Here is just a step by step guide to the app:<br>
        
        - 3 navigation tabs About, Add and tasks<br>
        - Just tap the symbol above it navigate to next tab<br>
        - To add task simply tap on the righting "Enter a task here and press the button "Add"<br>
        - To view your tasks click on tasks symbol at the top of the screen<br>
        -Your list of tasks will be displayed<br>
        -If you wish to search for a task tap the word search and type in the task you are looking for<br>
        -Too delete a task when its completed<br>
        -Simply just swipe left on the task and a delete button should appear<br>
        -Then simply tap delete to remove task<br>
    </p>
    <p>
      I hope this app helps you achieve all your tasks and makes life alot simpler.
    </p>
  </ion-content>
</ion-view>
