<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
   
   <!-- addTask Tab -->
  <ion-tab title="Add" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/addTask">
    <ion-nav-view name="tab-addTask"></ion-nav-view>
  </ion-tab>
    

  <!-- Personal Tab -->
  <ion-tab title="Tasks" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>


</ion-tabs>
